.car-search {
    display: flex;
    justify-content: center;
}

.car-search-2 {
    background-color: #f1f5fb;
    max-width: 1300px;
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 1.5rem;
}

input {
    padding: .7rem;
    width: 270px;
    border-radius: 1rem;
    border: 1px solid #d6d6d6;
    background-color: #ffffff;
    font-weight: 500;
}